statements:
  - Effect: Allow
    Action:
      - dynamodb:PutItem
      - dynamodb:UpdateItem
      - dynamodb:Query
    Resource:
      - !GetAtt MainTable.Arn
      - !Sub '${MainTable.Arn}/index/*'
