statements:
  - Effect: Allow
    Action:
      - cognito-idp:CreateGroup
      - cognito-idp:ListGroups
      - cognito-idp:DeleteGroup
      - cognito-idp:AdminAddUserToGroup
    Resource: !GetAtt UserPool.Arn

  - Effect: Allow
    Action:
      - dynamodb:GetItem
      - dynamodb:QueryCommand
      - dynamodb:PutItem
      - dynamodb:BatchGetItem
      - dynamodb:DeleteItem
      - dynamodb:UpdateItem
      - dynamodb:Query
    Resource:
      - !GetAtt MainTable.Arn
      - !Sub "${MainTable.Arn}/index/*"

  - Effect: Allow
    Action:
      - s3:PutObject
      - s3:GetObject
    Resource: !Sub "${ProductsBucket.Arn}/*"

  - Effect: Allow
    Action:
      - sqs:SendMessage
    Resource: !GetAtt OrdersQueue.Arn

  - Effect: Allow
    Action:
      - ses:SendEmail
    Resource: "*"
